.cursor-pointer {
    cursor: pointer;
}

.btn-custom {
    background-color: #222831 !important;
    color:  #eeeeee !important;
}

.btn-custom:hover {
    background-color: #0092ca !important;
    color:  #eeeeee;
}